@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

@font-face {
    font-family: "Righteous";
    src: url("Righteous-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 2rem;
    font-family: "Righteous";
    font-size: 3rem;
}

.game-container {
    display: grid;
    place-items: center;
    margin-top: 10rem;
}

.gameboard {
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 40vh;
    width: 40vh;
}

.cell {
    font-family: 'Rubik Iso', cursive;
    font-size: 6rem;
    background-color: transparent;
}


.toggle {
    --width: 125px;
    --height: calc(var(--width) / 4);
    position: relative;
    left: 36%;
    top: 9rem;

    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    /*background-color: #ccc;*/
    background-color: yellow;
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: #2196F3;
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::after {
    content: attr(data-off);
    font-size: 1rem;
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    content: attr(data-on);
    font-size: 1rem;
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    opacity: 0;
  }

  .toggle input:checked~.labels::before {
    opacity: 1;
